@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
/* utils */

.btn {
  @apply inline-flex items-center justify-center px-6 py-3 rounded-xl bg-primary text-white font-medium transition-all duration-300;
}

.btn:hover {
  @apply scale-105 opacity-90;
}

.input {
  @apply text-base px-4 py-3 rounded-xl text-white bg-white/10 border border-white/10;
}

.active {
  @apply text-primary border-b-2 border-primary;
}